body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.container {
  padding: 40px;
}

.amount {
  font-size: 40px;
  margin: 20px 0;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: auto;
}

.btn {
  padding: 20px;
  font-size: 18px;
}

.primary {
  background: black;
  color: white;
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
}

.secondary {
  background: gray;
  color: white;
  padding: 15px 30px;
}

.transaction {
  background: white;
  padding: 10px;
  margin: 10px;
}

.qr-box {
  background: white;
  padding: 50px;
  margin: 20px auto;
  width: 200px;
}

input {
  padding: 12px;
  font-size: 16px;
  width: 250px;
  margin: 10px;
  text-align: center;
}

canvas {
  margin: 20px;
  padding: 10px;
  background: white;
}